{% extends "layout.html" %}

{% block title %}
    calculate
{% endblock %}

{% block main %}
    <form method="post" action="/add_matrix">
        <div class="div-table">
            <table class="table">
                <tbody>
                    <tr>
                        <th></th>
                        {% for i in range(cols - 1) %}
                            <th>x<span>{{ i + 1 }}</span></th>
                        {% endfor %}
                        <th>b</th>
                    </tr>
                    {% for i in range(rows)%}
                        <tr>
                            <th>{{ i + 1 }}</th>
                            {% for j in range(cols) %}
                                <td>
                                    <input required type="text" size="4" autocomplete="off" name="r{{ i.__str__() }}_c{{ j.__str__() }}" title="[{{ i }}][{{ j }}]" class="inputCell">
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
        </div>
        <input type="submit" value="Submit" class="submit">
    </form>
{% endblock %}